.main {
    background: beige;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

.contents-wrap {
    display: flex;
    gap: 30px;
    /* width: 300px;
    height: 270px; */
}

.img-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    background-color: white;

    width: 30vh;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 1px gray;
}

.box>h1 {
    position: absolute;
    top: 0px;
    margin: 0;
}

.box>h2 {
    position: absolute;
    bottom: 0px;
}

.box>img {
    width: 15vh;
}

.win {
    border-color: green;
}

.lose {
    border-color: red;
}

.tie {
    border-color: black;
}

.box.win>h2 {
    color: green;
}

.box.lose>h2 {
    color: red;
}

.box.tie>h2 {
    color: black;
}


/* Button CSS */

.btn-wrap {
    display: flex;
    gap: 5px;
}

.btn {
    cursor: pointer;
    width: 10vh;
    height: 10vh;
    border-radius: 15px;

    background-color: white;
}

button:active {
    background-color: bisque;
    scale: 90%;
}

.btn>img {
    width: 6vh;
}

/* Score */
.score-wrap {
    display: flex;
    justify-content: space-between;
}

/* Reset Btn */
.reset-btn {
    cursor: pointer;
    height: 6vh;
    border-radius: 15px;
    font-size: 1.5rem;

    background-color: orange;
}